@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  text-align: center;
  background-size: cover;
  color: black;
  padding: 20px;
  font-family: "Roboto";
  /* background-image: url("./party.jpg"); */
}

input {
  padding: 5px;
  font-size: 14px;
}

label {
  width: 200px;
  display: inline-block;
}

.select {
  padding: 5px;
  font-size: 16px;
}

form {
  text-align: left;
  padding: 20px;
  font-size: 24px;
}

.myCharList {
  font-size: 24px;
  box-shadow: 20px;

}

.form-box {
  background-color: rgba(255, 255, 255, 0.432);
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px;
}

p {
  font-size: 1.5rem;
}

.updateChar {
  width: 40%;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.432);
  margin: 10px;
  font-size: 1.5rem;
  display: none;
  border-radius: 5px;
}

.viewStats {
  width: 30%;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.432);
  margin-top: 10px;
  font-size: 1.5rem;
  display: none;
  border-radius: 5px;
}

#newChar {
  width: 30%;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.432);
  margin-top: 10px;
  font-size: 1.5rem;
  display: none;
  border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style: none;
  background-color: brown;
  margin: 10px;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
}

/* a {
  font-size: 1.5rem;
} */

/* .myChars {
  text-align: left;
} */
