* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Almendra:wght@700&family=Open+Sans:wght@300;400&display=swap');

.D20-photo {
  height: 17vmin;
  width: 16vmin;
  pointer-events: none;
  position: fixed;
  right: 80px;
  box-shadow: none;
}

@media (prefers-reduced-motion: no-preference) {
  .D20-photo {
    animation: D20-photo-spin infinite 5s linear;
  }
}

@keyframes D20-photo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.D20natone-photo {
  height: 20vmin;
  width: 16vmin;
  pointer-events: none;
  position: fixed;
  left: 80px;
  box-shadow: none;
}

@media (prefers-reduced-motion: no-preference) {
  .D20natone-photo {
    animation: D20natone-photo-spin infinite 5s linear;
  }
}

@keyframes D20natone-photo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Luminari';
  font-style: normal;
  font-weight: normal;
  src: local('Luminari'), url('Luminari-Regular.woff') format('woff');
  }


h1 {
  font-family: 'Luminari';
}


p {
  font-size: 1.5rem;
}


ul {
  margin: 0px;
  display: block;
}


li {
  list-style: none;
  background-color: rgb(3, 65, 87);
  margin: 10px;
  width: 30%;
  padding: 10px;
  padding-top: 20px;
  border-radius: 5px;
  font-weight: bold;
  /* height: 150px; */
  box-shadow: 5px 10px 8px #050505af;
  display: inline-block;
}

input {
  padding: 5px;
  font-size: 14px;
}

label {
  width: 200px;
  display: inline-block;
  font-weight: bold;
  /* text-align: left;  */
}



button {
  cursor: pointer;
  padding: .5em;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
  background-color: white; 
  border: none;
  color: black;
  box-shadow: 5px 8px 8px #050505af;
  font-size: 1rem;
  font-weight: bold;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition-duration: 0.4s;
  font-family: 'Century Gothic';
  }

button:hover {
    background-color: #60636090; 
    color: white;
}

#submit-btn {
  cursor: pointer;
  padding: .5em;
  margin-top: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
  background-color: white; 
  border: none;
  color: black;
  box-shadow: 5px 8px 8px #050505af;
  font-size: 1rem;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition-duration: 0.4s;
} 

#click-here {
  color: white;
}


#thumbnail {
  max-width: 70px;
  padding-top: 10px;
  float: left;
  }


#stats-list {
  text-align: left;
  font-size: 1.3rem;
  max-width: 800px;
  margin-left: 100px;
}


.character-background {
  background-image: url("./images/dnd-table-1.jpg");
  height: 1500px;
  background-size: cover;
  background-repeat: repeat;
  padding: 20px;
  color: white;
}


.parchment-background {
  background-image: url("./images/parchment-paper.png");
  height: 2000px;
  width: 100%;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-style {
  background-color: rgba(2, 2, 2, 0.39);
  padding: 20px;
  box-shadow: 5px 10px 8px #050505af;
}


.my-characters-heading {
  font-size: 3rem;
  margin-bottom: 10px;

}

.update-background {
  background-image: url('./images/party.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
}


.select {
  padding: 5px;
  font-size: 16px;
}

#update-char-h2 {
  font-family: 'Luminari';
  font-size: 3rem;
  text-align: center;
}

.heading-with-form {
  background-color: rgba(34, 32, 32, 0.514);
  max-width: 800px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

form {
  text-align: left;
  padding: 20px;
  font-size: 24px;
  max-width: 600px;
}


.form-box {
  background-color: rgba(128, 128, 128, 0.454);
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px;
}

#create-char-form {
  background-image: url('./images/dungeons-and-dragons.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px;
  min-width: 1500px;
  color: white;
  padding-top: 20px;
  padding-left: 50px;
}

.viewStats {
  width: 30%;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.432);
  margin-top: 10px;
  font-size: 1.5rem;
  display: none;
  border-radius: 5px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.create-generate-btns {
  display: inline;
}


#create-new {
  display: inline;
  font-family: 'Century Gothic';
}

#create-char-h2 {
  padding-top: 10px;
  font-family: 'Luminari';
  font-size: 3rem;
}

#battle-page-h2 {
  font-family: 'Luminari';
  font-size: 3rem;
  color: white;
}

#character-sheet-heading {
  font-size: 3rem;
  text-align: center;
}


#update-breadcrumbs {
  text-align: left;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 30px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}



.homepage {
  background-image: url('./images/homepage-image.jpg');
  background-size: cover;
  height: 100vh;
  color: white;
  font-size: 2rem;
  padding: 40px;
}

#home-heading {
  text-shadow: 5px 10px 8px #050505af;
  margin-bottom: -10px;
  padding-top: 20px;
}

#homepage-content {
  background-color: rgba(0, 0, 0, 0.623);
  box-shadow: 5px 10px 8px #050505af;
}

#battle-character-list {
  display: inline-block;
  color: white;
  width: 500px;
  background-color: rgb(30, 79, 131);
}

.App {
  text-align: center;
  background-size: cover;
  color: black;
  padding: 20px;
  font-family: "Century Gothic";
  height: 100vh;
}

#character-container {
  display: inline-flex;
  height: 100%;
}

img {
  width: 400px;
  box-shadow: 5px 10px 8px #050505af;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: -10px;
}

.battle-background {
  background-image: url('./images/forest.jpg');
  background-size: cover;
  height: 1500px;
  padding-top: 20px;
}



#tavern-background-image {
  background-image: url('./images/tavern.jpg');
  background-size: contain;
  height: 1500px;
  padding-top: 20px;
}


#tavern-button {
  text-align: center;
}

#you-win-verbiage {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  padding-bottom: 200px;
}

#you-win-h1 {
  font-size: 3rem;
}

#wizard-book-image {
  text-align: center;
  max-width: 300px;
}


.tavern-modal p {
  font-size: 1.2rem;
}

.tavern-modal button {
  text-align: center;
  background-color: brown;
  color: white;

}

.tavern-modal {
  border-radius: 5px;
}

.react-responsive-modal-closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  margin-bottom: 25px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}

.battle-modal p{
  border-radius: 5px;
}

/* MOBILE DESIGN */

/* PHONES */

@media only screen and (max-width: 360px) {
  .topnav {
    max-width: 350px;
  }
}